.postContainer {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding-top: 40px;
    justify-content: center;
  }

  
.post {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 1em;
  }
  
  .post:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .post .title {
    flex: 20%;
    border-bottom: 1px solid lightgray;
    background-color: rgb(6, 33, 61);
    display: grid;
    place-content: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .post .body {
    flex: 65%;
    display: grid;
    place-content: center;
  }
  
  .post .footer {
    flex: 15%;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: rgb(81, 106, 131);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .btnPost {
    display: flex;
    justify-content: center;
    margin: 2em
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .icon {
    margin: 0.5em;
  }